In [8]:
#Testing sparkContext 1 .. 2.. 3..
sc

In [13]:
sc.version

'1.6.0'

In [16]:
#Testing sqlContext 1...2....3...
sqlContext.sql

In [18]:
#Load the data and store in new spark dataFrame 'df'
uberDataFrame =sqlContext.read.format("com.databricks.spark.csv").options(header='true',inferschema='true').load("Uber-Jan-Feb-FOIL.csv")

In [19]:
#New type of dataFrame
type(uberDataFrame)

pyspark.sql.dataframe.DataFrame

In [29]:
uberDataFrame.first()

Row(dispatching_base_number='B02512', date='1/1/2015', active_vehicles=190, trips=1132)

In [22]:
#Convert whole data of Uber as Table
uberDataFrame.registerTempTable('uber')

In [28]:
#Some Queries

In [35]:
#Display all Distinct Bases
unique_bases = sqlContext.sql("select distinct dispatching_base_number from uber")

In [36]:
type(unique_bases)

pyspark.sql.dataframe.DataFrame

In [37]:
unique_bases.collect()

[Row(dispatching_base_number='B02598'),
 Row(dispatching_base_number='B02764'),
 Row(dispatching_base_number='B02765'),
 Row(dispatching_base_number='B02617'),
 Row(dispatching_base_number='B02682'),
 Row(dispatching_base_number='B02512')]

In [38]:
#other way to display
for row in unique_bases.collect(): print(row)

Row(dispatching_base_number='B02598')
Row(dispatching_base_number='B02764')
Row(dispatching_base_number='B02765')
Row(dispatching_base_number='B02617')
Row(dispatching_base_number='B02682')
Row(dispatching_base_number='B02512')

In [41]:
#Schema of Uber data
uberDataFrame.printSchema()

root
 |-- dispatching_base_number: string (nullable = true)
 |-- date: string (nullable = true)
 |-- active_vehicles: integer (nullable = true)
 |-- trips: integer (nullable = true)

In [59]:
#Display distinct Dispatching base number and its total trip. Note the single Quote (`) not (') and double Quotes use 
#double Quotes until all SQL queries become red
sqlContext.sql("""select distinct(`dispatching_base_number`), 
                                sum(`trips`) as Total_Trips from uber group by `dispatching_base_number` 
                                order by Total_Trips desc""").show()

+-----------------------+-----------+
|dispatching_base_number|Total_Trips|
+-----------------------+-----------+
|                 B02764|    1914449|
|                 B02617|     725025|
|                 B02682|     662509|
|                 B02598|     540791|
|                 B02765|     193670|
|                 B02512|      93786|
+-----------------------+-----------+

In [63]:
#Display total trips based on date.
sqlContext.sql("""select distinct (`date`),
                sum(`trips`) as Total_Trips from uber
                group by `date`
                order by Total_Trips desc limit 5""").show()

+---------+-----------+
|     date|Total_Trips|
+---------+-----------+
|2/20/2015|     100915|
|2/14/2015|     100345|
|2/21/2015|      98380|
|2/13/2015|      98024|
|1/31/2015|      92257|
+---------+-----------+